spring:
  datasource:
    url: jdbc:mysql://localhost:3306/internship?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    time-zone: UTC

server:
  port: 8080

app:
  jwt:
    secret: "ChangeThisSuperSecretKeyToAtLeast32CharsLong_2025"
    expire-minutes: 120
  score:
    weight:
      attendance: 0.3
      log: 0.2
      company: 0.3
      teacher: 0.2
  attendance:
    max-distance-meter: 500  # 允许打卡点与企业坐标最大距离
